@using System.Threading
<h3>Consumer</h3>
<p style="font:20px; color:red;">Number of item produces: @Progress</p>
<div class="counter" style="@bar">
</div>

<button @onclick="StartConsumer">Start</button>
@code {
    [Parameter]
    public int Progress { get; set; }
    private string bar => $"height:{Progress}px;";
    [Parameter]
    public Manager Manager { get; set; }

    protected override void OnInitialized()
    {
        //Manager.CountUpdate += (o, e) => StateHasChanged();
        Manager.UpdateConsumer += (o, e) => StateHasChanged();
    }

    private async void StartConsumer()
    {
        while (Manager.Consumer.Items.Count > 1)
        {
            await Manager.LoopConsumer();
            Progress = Manager.Consumer.Items.Count;
            Thread.Sleep(1000);
        }

    }
}
