@using System.Threading
<h3 class="text-center">Consumer</h3>

<div class="bg-info" style="height:200px;">
    <p style="font:20px;">Number of items in stack: @Manager.Consumer.Items.Count</p>
    <p style="font:20px;">Number of items consumed: @Manager.Consumer.ItemCount</p>
    <div class="counter" style="@bar; max-height:100px;">
    </div>

</div>

@code {
    [Parameter]
    public int Progress { get; set; }
    [Parameter]
    public Manager Manager { get; set; }

    private string bar => $"height:{Progress}px;";
}
