@using System.Threading
<h3>Producer</h3>
<p style="font:20px; color:red;">Number of item produces: @Progress</p>

<div style="height:100px;">
    <div class="counter" style="@bar; max-height:100px;">
    </div>

</div>

<div>
    <button @onclick="StartProducer">Start</button>
</div>

@code {
    [Parameter]
    public int Progress { get; set; }
    private string bar => $"height:{Progress}px;";
    [Parameter]
    public Manager Manager { get; set; }

    private async void StartProducer()
    {
        while (Manager.Producer.Items.Count <= 100)
        {
            await Manager.LoopProducer();
            Progress = Manager.Producer.Items.Count;
            Thread.Sleep(100);
        }

        Progress = Manager.Producer.Items.Count;
    }
}
