<div style="background: rgb(36 47 138); height: 300px; width: 350px; border:2px solid black;">
    <ProducerComponent Progress="ProducerProgress" Manager="Manager"></ProducerComponent>
</div>
<br />
<div style="background: rgb(36 47 138); height: 300px; width: 350px; border:2px solid black;">
    <ConsumerComponent Progress="ConsumerProgress" Manager="Manager"></ConsumerComponent>
</div>

@code {
    [Parameter]
    public Manager Manager { get; set; }
    [Parameter]
    public int ProducerProgress { get; set; }
    [Parameter]
    public int ConsumerProgress { get; set; }

}
